@charset "UTF-8";
@use "./import" as f;
/* 共通 */
html {
  font-size: 100%;
  @include f.sp {
    font-size: 2.57vw;
  }
}

body, header, nav, ul, li, img, p, h1, h2, h3, h4, dl, dt, dd{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Shippori Mincho", 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  background: #f2eee9;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

::selection {
  color: f.$white;
  background-color: f.$red;
}

.sec-title {
  font-weight: 400;
  .sec-fade-delay {
    opacity: 0;
  }
  &__en {
    font-family: "Bodoni Moda", serif;
    font-size: 	0.875rem;
    letter-spacing: 0.07rem;
    color: f.$red;
    @include f.sp {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      line-height: 1.25;
    }
  }
  &__ja {
    font-size: 	2.125rem;
    letter-spacing: 0.3825rem;
    line-height: 1.56;
    margin-right: 8px;
    @include f.sp {
      font-size: 2.6rem;
      letter-spacing: 0.62rem;
      line-height: 1.38;
    }
  }
}

.section-area {
  padding: 200px 0;
  @include f.sp {
    padding: 8rem 0;
  }
}

.b-white-img {
  .item__img {
    position: relative;
    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      inset: 0;
      border: 1px solid f.$white;
    }
  }
}

/* セクションタイトルが真ん中にある子たち */
.sec-title-c {
  max-width: 1100px;
  margin: 0 auto 70px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include f.sp {
    max-width: none;
    margin: 0 0 5rem 0;
  }
  &__en {
    margin-top: 30px;
    @include f.sp {
      margin-top: 2.3rem;
    }
  }
}

/* アイコン */
.svg-defs {
  visibility: hidden;
  position: fixed;
  bottom: 0;
}

svg {
  vertical-align: baseline;
}

/* ほにゃららを見る */
.bottom-link {
  width: 100%;
  display: flex;
  justify-content: center;
  .link {
    font-size: 0.8125rem;
    line-height: 1.62;
    font-weight: 500;
    padding-right: 38.98px;
    position: relative;
    display: table;
    box-sizing: border-box;
    @include f.sp {
      font-size: 1.37rem;
      line-height: 1.53;
      letter-spacing: 0%;
      padding-right: 4rem;
    }
    &::before {
      content: "";
      display: block;
      background: f.$red;
      z-index: 0;
      transform: rotate(45deg);
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      box-sizing: border-box;
      @include f.sp {
        width: 2rem;
        height: 2rem;
        top: 0.13rem;
        right: 0.3rem;
      }
    }
    .text {
      display: block;
      position: relative;
      overflow: hidden;
      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: f.$black;
        transition: all .4s cubic-bezier(.43, .05, .17, 1) 0s;
      }
    }
    .icon {
      display: flex;
      text-align: center;
      justify-content: center;
      z-index: 1;
      position: absolute;
      right: 5px;
      top: 3px;
      overflow: hidden;
      @include f.sp {
        right: 0.79rem;
        top: 0.45rem;
      }
      &__content {
        width: 12px;
        height: 12px;
        display: block;
        stroke: f.$white;
        transition: stroke .4s cubic-bezier(.43, .05, .17, 1) 0s;
        @include f.sp {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }
  }
}

/* 左下だけ丸い、ご購入はこちらボタン */
.clip-btn {
  color: f.$white;
  background: #4D352E;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.035rem;
  padding: 7px 36px 7px 30px;
  border: none;
  border-radius: 0;
  position: relative;
  display: table;
  overflow: hidden;
  margin-top: 30px;
  @include f.sp {
    font-size: 1.15rem;
    letter-spacing: 0%;
    line-height: 1.572;
    margin-top: 2.47rem;
    padding: 0.6rem 2.6rem 0.6rem 1.97rem;
  }
  &::before {
    transition: all .4s cubic-bezier(.43, .05, .17, 1) 0s;
    transition-property: width, height, clip-path;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: f.$red;
    clip-path: ellipse(3.3rem 2.4rem at 3.3rem calc(100% - 2.4rem));
  }
  &::after {
    transition: clip-path .4s cubic-bezier(.43, .05, .17, 1) 0s;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: f.$red;
    clip-path: polygon(0% 0%,100% 0%,100% 100%,3.3rem 100%,0% calc(100% - 2.4rem));
  }
  .txt {
    display: block;
    position: relative;
    z-index: 1;
  }
  .icon__content {
    width: 12px;
    height: 12px;
    stroke: f.$white;
    z-index: 1;
    position: absolute;
    right: 12px;
    top: 12px;
    transition: stroke .4s cubic-bezier(.43, .05, .17, 1) 0s;
    @include f.sp {
      width: 1.2rem;
      height: 1.2rem;
      right: 1.2rem;
      top: 0.9rem;
    }
  }
}

a:hover {
  .clip-btn{
    &::before {
      clip-path: ellipse(3.3rem 2.4rem at calc(100% + 3.3rem) calc(100% - 2.4rem));
    }
    &::after {
      clip-path: polygon(100% 0%,100% 0%,100% 100%,100% 100%,100% calc(100% - 2.4rem))
    }
  }
}